body {
  font-family: 'Lato', sans-serif;
}
/*nag³owek*/
.naglowek {
  background-color: #000;
  color: #fff;
  opacity: .9;
  position: relative;
}

.naglowek ul {
  margin: 0;
  float: left;
}

.naglowek ul li {
  list-style: none;
  float: left;
  display: block;
  text-align: center;
  height: 80px;
  transition: background .5s ease-out;
}

.naglowek ul li:hover {
  background-color: #116;
}

.naglowek ul .logo:hover {
  background-color: black;
}

.naglowek ul .logo {
  padding-top: 20px;
}
.naglowek ul .logo h3 {
   font-size: 1.388rem;
	
}
.naglowek ul .logo a {
  padding: 0;
}

.naglowek ul .menu:hover {
  border-bottom: 3px solid #fff;
}

.naglowek ul li a {
  padding: 27px 0;
  color: #fff;
  display: block;
}

.naglowek ul li h3 {
  color: #fff;
  font-family: 'Francois One', sans-serif;
}
/*rozwijane Menu */
.rozwijaneMenu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  color: red;
  z-index: 9;
  background-color: #000;
  opacity:.9;
}

.rozwijaneMenu li {
  height: 65px !important;
  display: block;
  float: left;
  width: 20%;
}

.rozwijaneMenu li:hover {
  border-bottom: 3px solid #fff;
}

.rozwijaneMenu li a  {
  padding: 22px 0 !important;
}

.responsywneMenu {
  display: none;
}

/*G³owna*/
.glowna {
  padding: 40px 10px;
}

/* INDEX.jsp */
.glowna .zawartosc h2 {
  text-align: center;
}

/* Przyciski */
.glowna .przycisk {
  border: 3px solid #000;
  transition: all .5s ease-out;
}

.glowna .przycisk a {
  color: #000;
  display:block;
  padding: 10px 20px;
  font-weight: 600;
  transition: all .5s ease-out;
  text-align: center;
}

.glowna .przycisk a:hover {
 color: #fff;
	
}
.glowna .przycisk:hover a {
  background-color: #000;
  color: #fff;
}
/*Addplayer.jsp*/
.glowna table {
  width: 100%;
  border-spacing: 0;
  border: 2px solid #000;
}

.glowna table td {
  font-weight: 600;
  border: 1px solid #000;
}

.glowna table tr:nth-child(even){
  background-color: #a0a0a0;
}

/*Wyswietl wszystkich */

.glowna input[type="submit"] {
 width: 100%;
height: 50px;
    background-color: #fff;
    border: 3px solid #000;
    cursor: pointer;
    font-weight: 700;
}
.glowna input[type="submit"]:hover {
	color: #fff;
	background-color: #000;
	transition: all .5s ease-out;
}
/* Tablety */
@media only screen  and (max-width: 768px){ 
 
  .naglowek {
    display: none; 
  }
  
  .responsywneMenu {
    display: inherit;
    background-color: #000;
    color: #fff;
    opacity: .9; 
 }

  .responsywneMenu h3 {
    padding: 15px;
    color: #fff;
    float:left:
  }
  
  .rozwijaneResponsywne {
    display: none; 
  }
  
  .responsywneMenu .hamburger {
    position: absolute;
    display: block;
    top: 20px;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
  }
  
   .responsywneMenu ul {
     z-index: 10;
    margin: -20px;
    padding: 0;
    text-align: center;
    background-color: #000;
   }
  
  .responsywneMenu ul li {
    height: 35px;
  }
  
  .responsywneMenu ul li:hover {
   background-color: #116;
  }
  
  .responsywneMenu ul li a {
    padding: 5px 0;
    color: #fff;
    display: block;
  }
}