body {
  font-family: 'Lato', sans-serif;
}

.naglowek {
  background-color: #000;
  color: #fff;
  opacity: .9;
  position: relative;
}

.naglowek ul {
  margin: 0;
  float: left;
}

.naglowek ul li {
  list-style: none;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0;
  height: 80px;
}

.naglowek ul li h3 {
  color: #fff;
  font-family: 'Francois One', sans-serif;
}

.rozwijaneMenu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  color: red;
  z-index: 9;
  background-color: #000;
  opacity:.8;
}

.rozwijaneMenu li {
	height: 35px !important;
    display: block;
    float: left;
    width: 25%;
}

.glowna {
  padding: 40px 10px;
}
.glowna .przyciemnij img {
  z-index:1;
  opacity: .3;
}
.glowna .przyciemnij img:hover {
  opacity: 1;
}

.glowna  .przyciemnij {
  background: url(../img/office.png); /*office from subtlepatterns*/
  opacity: 1;
}

.glowna .zawartosc h2 {
  text-align: center;
}